@media screen and (max-width: 972px) {
  #digital {
    display: block;
    margin: auto;
  }
  .container {
    display: block;
  }
  .content {
    display: block;
  }
  .content div:first-child {
    text-align: center;
    padding: 10px;
  }
  .scopes {
    display: block;
  }
}
